{% if serviceLocationChannel.phoneServiceCharge %}
<h3>Puhelun hintatiedot</h3>
{% if serviceLocationChannel.phoneNumbers %}
{% for number in serviceLocationChannel.phoneNumbers %}
<p><small>
{% if number.serviceChargeType == 'Charged' %}
  Paikallisverkkomaksu (pvm), matkapuhelinmaksu (mpm), ulkomaanpuhelumaksu<br/>
{% endif %}
{% if number.chargeDescription %}
  {{ number.chargeDescription }}
{% endif %}
</small></p>
{% endfor %}
{% endif %}
{% endif %}