{% if serviceLocationChannel.phoneNumbers %}
<h4>Puhelinnumero</h4>
{% for number in serviceLocationChannel.phoneNumbers %}
<div class="phone-number">{{ number|phoneNumber }}</div>
{% endfor %}
{% endif %}