<?php
/**
 * IncidentsApi
 * PHP version 5
 *
 * @category Class
 * @package  KuntaAPI
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Kunta API
 *
 * Solution to combine municipality services under single API.
 *
 * OpenAPI spec version: 0.1.0
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace KuntaAPI\Api;

use \KuntaAPI\Configuration;
use \KuntaAPI\ApiClient;
use \KuntaAPI\ApiException;
use \KuntaAPI\ObjectSerializer;

/**
 * IncidentsApi Class Doc Comment
 *
 * @category Class
 * @package  KuntaAPI
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class IncidentsApi
{

    /**
     * API Client
     *
     * @var \KuntaAPI\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \KuntaAPI\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\KuntaAPI\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://demo.kuntaapi.fi/v1');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \KuntaAPI\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \KuntaAPI\ApiClient $apiClient set the API client
     *
     * @return IncidentsApi
     */
    public function setApiClient(\KuntaAPI\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation findOrganizationIncident
     *
     * Returns organizations incident by id
     *
     * @param string $organizationId Organization id (required)
     * @param string $incidentId Incident id (required)
     * @return \KuntaAPI\Model\Incident
     * @throws \KuntaAPI\ApiException on non-2xx response
     */
    public function findOrganizationIncident($organizationId, $incidentId)
    {
        list($response) = $this->findOrganizationIncidentWithHttpInfo($organizationId, $incidentId);
        return $response;
    }

    /**
     * Operation findOrganizationIncidentWithHttpInfo
     *
     * Returns organizations incident by id
     *
     * @param string $organizationId Organization id (required)
     * @param string $incidentId Incident id (required)
     * @return Array of \KuntaAPI\Model\Incident, HTTP status code, HTTP response headers (array of strings)
     * @throws \KuntaAPI\ApiException on non-2xx response
     */
    public function findOrganizationIncidentWithHttpInfo($organizationId, $incidentId)
    {
        // verify the required parameter 'organizationId' is set
        if ($organizationId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organizationId when calling findOrganizationIncident');
        }
        // verify the required parameter 'incidentId' is set
        if ($incidentId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $incidentId when calling findOrganizationIncident');
        }
        // parse inputs
        $resourcePath = "/organizations/{organizationId}/incidents/{incidentId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=utf-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json;charset=utf-8'));

        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                "{" . "organizationId" . "}",
                $this->apiClient->getSerializer()->toPathValue($organizationId),
                $resourcePath
            );
        }
        // path params
        if ($incidentId !== null) {
            $resourcePath = str_replace(
                "{" . "incidentId" . "}",
                $this->apiClient->getSerializer()->toPathValue($incidentId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\KuntaAPI\Model\Incident',
                '/organizations/{organizationId}/incidents/{incidentId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\KuntaAPI\Model\Incident', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\Incident', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\BadRequest', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\Forbidden', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\InternalServerError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation listOrganizationIncidents
     *
     * Lists organizations incidents
     *
     * @param string $organizationId Organization id (required)
     * @param string $slug Filter with slug (optional)
     * @param string $startBefore  (optional)
     * @param string $endAfter  (optional)
     * @param int $area Return only incidents from specified area (optional)
     * @param int $firstResult First index of results (optional)
     * @param int $maxResults Maximum number of results (optional)
     * @param string $orderBy Define order (start, end) (optional)
     * @param string $orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @return \KuntaAPI\Model\Incident[]
     * @throws \KuntaAPI\ApiException on non-2xx response
     */
    public function listOrganizationIncidents($organizationId, $slug = null, $startBefore = null, $endAfter = null, $area = null, $firstResult = null, $maxResults = null, $orderBy = null, $orderDir = null)
    {
        list($response) = $this->listOrganizationIncidentsWithHttpInfo($organizationId, $slug, $startBefore, $endAfter, $area, $firstResult, $maxResults, $orderBy, $orderDir);
        return $response;
    }

    /**
     * Operation listOrganizationIncidentsWithHttpInfo
     *
     * Lists organizations incidents
     *
     * @param string $organizationId Organization id (required)
     * @param string $slug Filter with slug (optional)
     * @param string $startBefore  (optional)
     * @param string $endAfter  (optional)
     * @param int $area Return only incidents from specified area (optional)
     * @param int $firstResult First index of results (optional)
     * @param int $maxResults Maximum number of results (optional)
     * @param string $orderBy Define order (start, end) (optional)
     * @param string $orderDir Order direction (ASC, DESC). Default is ASC (optional)
     * @return Array of \KuntaAPI\Model\Incident[], HTTP status code, HTTP response headers (array of strings)
     * @throws \KuntaAPI\ApiException on non-2xx response
     */
    public function listOrganizationIncidentsWithHttpInfo($organizationId, $slug = null, $startBefore = null, $endAfter = null, $area = null, $firstResult = null, $maxResults = null, $orderBy = null, $orderDir = null)
    {
        // verify the required parameter 'organizationId' is set
        if ($organizationId === null) {
            throw new \InvalidArgumentException('Missing the required parameter $organizationId when calling listOrganizationIncidents');
        }
        // parse inputs
        $resourcePath = "/organizations/{organizationId}/incidents";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json;charset=utf-8'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json;charset=utf-8'));

        // query params
        if ($slug !== null) {
            $queryParams['slug'] = $this->apiClient->getSerializer()->toQueryValue($slug);
        }
        // query params
        if ($startBefore !== null) {
            $queryParams['startBefore'] = $this->apiClient->getSerializer()->toQueryValue($startBefore);
        }
        // query params
        if ($endAfter !== null) {
            $queryParams['endAfter'] = $this->apiClient->getSerializer()->toQueryValue($endAfter);
        }
        // query params
        if ($area !== null) {
            $queryParams['area'] = $this->apiClient->getSerializer()->toQueryValue($area);
        }
        // query params
        if ($firstResult !== null) {
            $queryParams['firstResult'] = $this->apiClient->getSerializer()->toQueryValue($firstResult);
        }
        // query params
        if ($maxResults !== null) {
            $queryParams['maxResults'] = $this->apiClient->getSerializer()->toQueryValue($maxResults);
        }
        // query params
        if ($orderBy !== null) {
            $queryParams['orderBy'] = $this->apiClient->getSerializer()->toQueryValue($orderBy);
        }
        // query params
        if ($orderDir !== null) {
            $queryParams['orderDir'] = $this->apiClient->getSerializer()->toQueryValue($orderDir);
        }
        // path params
        if ($organizationId !== null) {
            $resourcePath = str_replace(
                "{" . "organizationId" . "}",
                $this->apiClient->getSerializer()->toPathValue($organizationId),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\KuntaAPI\Model\Incident[]',
                '/organizations/{organizationId}/incidents'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\KuntaAPI\Model\Incident[]', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\Incident[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 400:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\BadRequest', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 403:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\Forbidden', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 500:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\KuntaAPI\Model\InternalServerError', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
