<h4>{{ phoneChannel.names|localizedValue(lang)|nl2p }}</h4>
{% for description in phoneChannel.descriptions %}
{% endfor %}
<p>{{ phoneChannel.descriptions|localizedValue(lang, 'Description')|nl2p }}</p>
{% if phoneChannel.phoneNumbers %}
{% for number in phoneChannel.phoneNumbers %}
<p>{{ number|phoneNumber }}<br/>
<small>
{% if number.serviceChargeType == 'Charged' %}
  Paikallisverkkomaksu (pvm), matkapuhelinmaksu (mpm), ulkomaanpuhelumaksu<br/>
{% endif %}
{% if number.chargeDescription %}
  {{ number.chargeDescription }}
{% endif %}
</small></p>
{% endfor %}
{% endif %}
{% set serviceHours = phoneChannel.serviceHours %}
{% include 'service-components/servicehours-fragment.twig' %}